* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  max-width: 100%;
}

#oval1 {
  /* animation: oval1 2s ease-out infinite alternate; */
  transform-origin: center center;
}

@keyframes oval1 {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#oval2 {
  /* animation: oval2 3s ease-out infinite alternate; */
  transform-origin: center center;
}

@keyframes oval2 {
  0% {
    transform: scale(0.5) translate(10px, -50px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

#xis {
  transform-origin: center center;
}

#xis rect {
  animation: xis-rect 4s ease infinite alternate;

  /* transform-origin: center center; */
}

#xis path {
  animation: xis 4s ease infinite alternate;

  /* transform-origin: center center; */
}

@keyframes xis-rect {
  0% {
    width: 75.087px;
    height: 76.3136px;
    transform: matrix(
      -0.999847,
      0.0174712,
      0.0174712,
      0.999847,
      104.11,
      8.9212
    );
  }
  100% {
    width: 25.8964px;
    height: 26.3194px;
    transform: matrix(
      -0.994019,
      -0.109205,
      -0.109205,
      0.994019,
      117.189,
      61.0315
    );
  }
}

@keyframes xis {
  0% {
    /* transform: rotate(-720deg); */
    /* transform: rotate(-7deg) scale(1.7) translate(-30px, -30px); */
    d: path(
      "M71.789 48.1799L84.0899 60.0583C85.2102 61.1402 85.2414 62.9228 84.1594 64.0403C83.6199 64.599 82.9038 64.8876 82.1829 64.9002C81.4619 64.9128 80.7362 64.6494 80.1775 64.1099L67.8766 52.2315L55.9982 64.5324C55.4587 65.0911 54.7426 65.3797 54.0217 65.3923C53.3007 65.4049 52.575 65.1415 52.0162 64.602C50.8959 63.5201 50.8647 61.7375 51.9466 60.6171L63.825 48.3191L51.5242 36.4407C50.4039 35.3617 50.3727 33.5791 51.4546 32.4587C52.5364 31.3384 54.3162 31.3073 55.4366 32.3892L67.7374 44.2675L79.6158 31.9667C80.6977 30.8491 82.4775 30.818 83.5978 31.8971C84.7181 32.9789 84.7493 34.7615 83.6674 35.8819L71.789 48.1799Z"
    );
  }
  100% {
    /* transform: scale(1); */
    d: path(
      "M104.418 73.0517L108.108 77.6523C108.444 78.0714 108.377 78.6826 107.958 79.0177C107.749 79.1853 107.492 79.2527 107.245 79.2256C106.997 79.1984 106.761 79.0766 106.593 78.8677L102.903 74.267L98.3025 77.9569C98.0935 78.1245 97.836 78.1919 97.5888 78.1648C97.3416 78.1376 97.1048 78.0158 96.9372 77.8069C96.6011 77.3879 96.6683 76.7766 97.0873 76.4406L101.688 72.7517L97.998 68.1511C97.6618 67.733 97.729 67.1218 98.148 66.7858C98.567 66.4497 99.1773 66.5168 99.5133 66.9358L103.203 71.5364L107.804 67.8466C108.223 67.5115 108.833 67.5785 109.169 67.9966C109.505 68.4156 109.438 69.0268 109.019 69.3629L104.418 73.0517Z"
    );
  }
}

#folha1 {
  animation: folha1 4s ease-out infinite alternate;
  transform-origin: center;
}

@keyframes folha1 {
  0% {
    transform: rotate(2deg) translate(-10px, 2px);
  }
  100% {
    transform: rotate(-1deg);
  }
}

#folha2 {
  animation: folha2 4s ease-out infinite alternate;
}

@keyframes folha2 {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
