* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  max-width: 100%;
}

#folha-1 {
  animation: folha-1 0.3s cubic-bezier(0.4, 0.59, 0.32, 1.54) 0.3s forwards;
  transform-origin: center center;
}

@keyframes folha-1 {
  from {
    transform: rotate(0deg) translateX(0px);
  }
  to {
    transform: rotate(15deg) translateX(20px);
  }
}

#oval-1 {
  animation: oval-1 0.35s cubic-bezier(0.4, 0.59, 0.32, 1.54) 0.3s forwards;
}

@keyframes oval-1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(35px);
  }
}

#xis {
  animation: xis 0.3s cubic-bezier(0.4, 0.59, 0.32, 1) 0.6s forwards;
  transform-origin: center;
  opacity: 0;
}

@keyframes xis {
  from {
    opacity: 0;
    transform: scale(1.7) rotate(-40deg) translateX(-25px);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
